#!/usr/bin/make -f
#
# debian/rules file for xine, the debhelper version.
# inspired by a sample debian/rules file from dh_make

# to make debhelper verbose:
#export DH_VERBOSE=1

export DH_COMPAT=2

# Build architecture "i686-pc-linux-gnu" ensures that all optimizations
# are compiled in. They are checked at runtime, so this has no portability
# issues (on i386 arch...)
ifeq ($(strip $(XINE_BUILD)),)
export XINE_BUILD=i686-pc-linux-gnu
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	./configure --prefix=/usr --mandir=/usr/share/man
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	-$(MAKE) distclean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install prefix=`pwd`/debian/xine/usr  \
	                mandir=`pwd`/debian/xine/usr/share/man
	chmod a-x debian/xine/usr/lib/xine/plugins/*
	mkdir -p debian/xine-dvd/usr/lib/xine/plugins
	mv debian/xine/usr/lib/xine/plugins/input_dvd.so \
	   debian/xine-dvd/usr/lib/xine/plugins/input_dvd.so
	rm debian/xine/usr/lib/xine/plugins/*.la
#       The freebsd README is not really interesting for Debian users
	-rm debian/xine/usr/share/doc/xine/README.freebsd


binary-indep: build install
# no architecture independent files.


binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installmenu
#	dh_installmanpages
	dh_installchangelogs -k ChangeLog
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
