Source: xine-lib
Section: libs
Priority: optional
Maintainer: Siggi Langauf <siggi@debian.org>
Build-Depends: debhelper (>> 2.0.0), aalib1-dev (>= 1.4p5-2), xlibs-dev (>> 4.1), libesd0-dev, libz-dev, libarts-dev (>=4:2.2.0-final-3), liblircclient-dev, libogg-dev, libvorbis-dev, libasound2 [i386]
Standards-Version: 3.2.1

Package: libxine-dev
Architecture: any
Section: devel
Depends: libxine0 (= ${Source-Version}), libc6-dev, xlibs-dev
Conflicts: xine-ui (<< 0.9.5)
Description: the xine video player library, development packages
 This contains development files (headers, documentation and the like)
 for the xine library (libxine).
 .
 Libxine provides the complete infrastructure for a video/media player.
 It supports MPEG 1/2 and (with suitable W*ndows DLLs) AVI/DivX videos
 out of the box, so you can use it to play DVDs, (S)VCDs and most video
 files out there. Building a GUI (or text based) frontend around this should
 be quite easy. The xine-ui package provides one for your convenience,
 so you can just start watching your VCDs ;-)

Package: libxine0
Architecture: any
Depends: ${shlibs:Depends}
Recommends: ${shlibs:Recommends}
Suggests: ${shlibs:Suggests}
Conflicts: xine (<< 0.5.0), xine-dvd (<< 0.5.0), xine-dvd-css (<< 0.5.0)
Replaces: xine-dvd
Description: the xine video player library, binary files
 This is the xine library (libxine). Libxine provides the complete
 infrastructure for a video/media player.
 It supports MPEG 1/2 and AVI/DivX videos (some codecs need special windows
 DLLs, but MPEG4 video and variants thereof have native support).
 So you can use it to play DVDs, (S)VCDs and most video files out there.
 Building a GUI (or text based) frontend around this should
 be quite easy. The xine-ui package provides one for your convenience,
 so you can just start watching your VCDs ;-)
