#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.
# adapted for xine-lib 2001 by Siggi Langauf

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=2

# shared library versions, option 1
#version=0.5.0
#major=0
# option 2, assuming created lib in src/xine-engine/.libs/dlibxine.so.<version>
version=`ls src/xine-engine/.libs/libxine*.so.* | \
 awk '{if (match($$0,/[0-9]+\.[0-9]+\.[0-9]+$$/)) print substr($$0,RSTART)}'`
major=`ls src/xine-engine/.libs/libxine*.so.* | \
 awk '{if (match($$0,/\.so\.[0-9]+$$/)) print substr($$0,RSTART+4)}'`

configure: configure-stamp
configure-stamp:
	dh_testdir
	./configure --prefix=/usr --mandir=\$${prefix}/share/man
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir

	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	test -f Makefile && $(MAKE) distclean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install prefix=$(CURDIR)/debian/libxine-dev/usr
	mkdir -p $(CURDIR)/debian/libxine$(major)/usr/share/lintian/overrides
	cp $(CURDIR)/debian/overrides.libxine \
           $(CURDIR)/debian/libxine$(major)/usr/share/lintian/overrides/libxine$(major)

binary-indep: build install
# We have nothing architecture-independant to do.


binary-arch: build install
	dh_testversion 2
	dh_testdir
	dh_testroot
	#
	# build libxine${major} package by moving files from libxine-dev
	#
	dh_movefiles --sourcedir=debian/libxine-dev -plibxine$(major)  \
	usr/lib/libxine*.so.$(major)        \
	usr/lib/libxine*.so.$(version)      \
	usr/lib/xine/plugins/*.so          \
	usr/share/xine

#	dh_installdebconf	
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installchangelogs -k ChangeLog
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
#	dh_shlibdeps
	debian/shlibdeps.sh libxine${major}
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
